@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.container {
    max-width: 350px;
    margin: 0 auto;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    margin: 0 1rem;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.text {
    padding: 22px 10px; 
}

.text h2 {
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}

.text p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    margin-top: 5px;
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

